

* {
    box-sizing: border-box;
}

body {
    background-color: #99907c;
    color: #08220e;
    font-family:'Grenze', 'Texturina', serif;
    font-size: 1rem;
    line-height: 1.55;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: #117f2d22
}

a:hover {
    color:#338e47
}

a:visited {
    color:#1ec041
}

/*header {
background-color: #95bd8f;
}*/

h1 {
background-color: #41943c;
}

h2 {
background-color: #41943c;
}

h3 {
background-color: #41943c;
}

h4 {
background-color: #41943c;
}

section {
background-color: #95b889;
}

footer {
background-color: #95b889;
}
